@model UserModel
<script>
    document.title = "Forgot password";
</script>

<div class="container mt-5" style="color:black;">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="text-center mb-4">Forgot password</h2>
            <form asp-action="SendPasswordLink" asp-controller="User">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="username" required placeholder="someone@gmail.com" asp-for="email" style="border-color:black;" />
                </div>
                <button type="submit" class="btn btn-dark btn-block">Send reset email</button>
            </form>
        </div>
    </div>
</div>