@{
    ViewBag.Title = "Download Cramdown App";
    ViewBag.Description = "Where to download the Cramdown App";
    ViewBag.Keywords = "Cramdown Android app,The official Cramdown app, Cramdown mobile app";
}
<script>
    document.title = "Download Cramdown App";
</script>

<div class="container">
    <h3 class="text-center">Download the Cramdown App for the full experience!</h3>
    <h5 class="text-center">Available on the following platforms</h5>
    <div class="row justify-content-center">
        <div class="d-inline-block m-2">
            <a href="https://play.google.com/store/apps/details?id=com.dotactual.cramdown"><img width="200" src="~/images/playstore (2).png" alt="playstore" /></a>
        </div>
        <div class="d-inline-block m-2">
            <a href="https://urldra.cloud.huawei.com/mhZa1fNCpi"><img width="200" src="~/images/huawei.png" alt="huawei" /></a>
        </div>
    </div>
</div>